<% provide(:title, 'Sign Up') %>

<h1>Sign Up!</h1>
<h3>
  Hello! Sign to our fancy site today, and get access to all of the cool site's areas!
</h3>
<p>
  Registration option is comming soon...
</p>
